<!DOCTYPE html>
<html>

    <head>
        <!--specifies title of the page !-->
        <title>ENGI 1006 Assignments</title>
    </head>
    
    <body>
    
    <p><b>Welcome to ENGI 1006 Assignments</b></p>
    
    <p>We had 5 homeworks, 1 midterm, and 1 final resulting in 7 assignments.<br>
    
    <br><b>HW 1:</b> I built a program that asks the user for their name, says hello, 
    tells the user how many letters are in their name, tells the user if they 
    have an even or odd number of letters in their name, and prints out each 
    letter of the user’s name separately. I also built another program that has 
    functions that perform specfied operations on lists. Each function uses a 
    range of list manipulation methods to deal with standard and edge cases. <br>
    
    <br><b>HW 2:</b> I built a program that simulates a projectiles motion and the beginning 
    of the library of functions to be reused in the final machine learning 
    application we will be working on this semester. <br>
    
    <br><b>HW 3:</b> I built a vertical percolation module with functions to read and write 
    an array, then see if it can percolate or not, percolate the array and then 
    return the boolean if the array percolates or not. I also continued building 
    the application for analyzing cells in human breast cancer tissue. This 
    iteration I extended the functionality of previous utility functions and 
    implemented more helpful functions to provide some statistics about our 
    datasets. <br>
    
    <br><b>HW 4:</b> I modeled a class, consisting of a teacher, students, and assignments 
    objects. I generated and enrolled some students. Then I generated some assignments. 
    For each assignment, I calculated the student’s grade, paid the teacher, and 
    assigned the student a grade. When I finished the class, I displayed the class 
    average, and the teacher’s pay. Finally, I plotted the data from the course. 
    The three plots are grades by assignment, grades by student, and assignment 
    difficulty. <br>
    
    <br><b>HW 5:</b> I built a machine learning library with the following features: Some 
    statistics on the dataset using pandas, Skewness and kurtosis of each column 
    in the dataset, Mean/Std Deviation of each column, grouped into benign/malignant,
    Plot some more advanced information using seaboard, Pairplot of each column 
    against other columns, Heatmap of the column correlations, Implement the K
    nearest neighbors algorithm from class, Use scikit-learn to implement, K Nearest 
    neighbors (for comparison), Support Vector Machine classifier. <br>
    
    <br><b>Midterm:</b> I wrote an application that takes as input a series of three similar 
    images and outputs a new image with unwanted objects from the original series 
    removed. The images were provided as ppm files and my program edited them as 
    text files. <br>
    
    <br><b>Final:</b> I used python to create a back end for web applications. The backend 
    is essentially a series of routes that direct both users and data to and from 
    various pages on a website. I created such a backend using Flask, a Python 
    microframework, a client-server model where a client (i.e. a user), requests 
    information that is displayed by a server. I created a basic server with Flask 
    that allows a user to traverse through the pages of a simple website.
    </p>
    
    <p> My <b>favorite assignment</b> this semester was the final because I have 
    been wanting to learn how to use Flask and this assignement gave me an opportunity to!
    </p>
    
    <p> 
    <a href="/"> Back to HOME </a> <br>
    </p>
    
    </body>
    
</html>
