<!DOCTYPE html>
<html>
    
    <!-- head includes everything before the page
    Specifies metadata about the page
    Add CSS in here!-->
    <head>
        <!--specifies title of the page !-->
        <title>las2313 1006 Homepage</title>
    </head>
    
    <body>
    
    <p>Welcome to las2313 1006 Homepage</p>
    
    <p>My name is Lacey Strahm.<br>
    I am a senior in Columbia College.<br>
    My major is Information Science.<br>
    <br><img src="https://www.cs.columbia.edu/~smb/rg/lacey.jpg" alt="Lacey Strahm in Columbia graduation gown" width="120" height"150">
    </p>
    
    <p> Here are some more links to explore:<br>
    <a href="/1006assignments"> 1006 Assignments </a> <br>
    <a href="/ISC"> Information Science Courses </a> <br>
    <a href="http://bulletin.columbia.edu/columbia-college/departments-instruction/computer-science/"> Information Science Major Description </a>
    </p>
    </body>
    
</html>
