<!DOCTYPE html>
<html>
    
    <!-- head includes everything before the page
    Specifies metadata about the page
    Add CSS in here!-->
    <head>
        <style>
            table, th, td{
            padding: 10px;
            }
        </style>
        <title>Information Science Courses</title>
    </head>
    
    <body>
    
    <p> Here is a table of all the courses I have taken to complete my Information
    Science major.<br>
    </p>
    
        <table>
    
            <tr>
                <th> Course </th>
                <th> Points </th>
                <th> Semester Taken </th>
                <th> Fulfillment </th>
            </tr>
    
            <tr>
                <td> COMS W1004 </td>
                <td> 3 </td>
                <td> Fall 2016 </td>
                <td> Core </td>
            </tr>
            
            <tr>
                <td> ENGI E1006 </td>
                <td> 3 </td>
                <td> Spring 2020 </td>
                <td> Core </td>
            </tr>
            
            <tr>
                <td> COMS W3134 </td>
                <td> 3 </td>
                <td> Fall 2019 </td>
                <td> Core </td>
            </tr>
            
            <tr>
                <td> COMS W3203 </td>
                <td> 3 </td>
                <td> Spring 2017 </td>
                <td> Core </td>
            </tr>
            
            <tr>
                <td> STAT GU4001 </td>
                <td> 3 </td>
                <td> Spring 2020 </td>
                <td> Core </td>
            </tr>
            
            <tr>
                <td> COMS BC3420 </td>
                <td> 4 </td>
                <td> Fall 2019 </td>
                <td> CS Elective </td>
            </tr>
            
            <tr>
                <td> COMS W4170 </td>
                <td> 3 </td>
                <td> Fall 2019 </td>
                <td> CS Elective </td>
            </tr>
            
            <tr>
                <td> COMS W4111 </td>
                <td> 3 </td>
                <td> Spring 2020 </td>
                <td> CS Elective </td>
            </tr>
            
            <tr>
                <td> HSAM UN2901 </td>
                <td> 3 </td>
                <td> Spring 2019 </td>
                <td> Elective </td>
            </tr>
            
            <tr>
                <td> RELI UN3311 </td>
                <td> 3 </td>
                <td> Spring 2018 </td>
                <td> Elective </td>
            </tr>
            
            <tr>
                <td> PHIL UN3701 </td>
                <td> 4 </td>
                <td> Spring 2019 </td>
                <td> Elective </td>
            </tr>
            
            <tr>
                <td> MATH UN1101 </td>
                <td> 3 </td>
                <td> Fall 2016 </td>
                <td> Prerequiste </td>
            </tr>
            
            <tr>
                <td> MATH UN1201 </td>
                <td> 3 </td>
                <td> Spring 2017 </td>
                <td> Prerequiste </td>
            </tr>
            
            <tr>
                <td> COMS W1404 </td>
                <td> 1 </td>
                <td> Fall 2016 </td>
                <td> Additional </td>
            </tr>
            
            <tr>
                <td> AMST UN3990 </td>
                <td> 4 </td>
                <td> Spring 2020 </td>
                <td> Additional </td>
            </tr>
    
        </table>
        
        <p> My favorite class I have taken so far is Data: Past, Present, and 
        Future. Here is the link for more information about the class:
        <a href="https://data-ppf.github.io"> HSAM UN2901 </a>
        </p>
        
        <p> 
        <a href="/"> Back to HOME </a> <br>
        </p>
    
    </body>
    
</html>
